<!-- resusing the base.html content by inheriting -->
{% extends "base.html" %}

<!-- inserts this block content in the base.html  -->
{% block content %}

    <h1>Login Here</h1>

    <form action="" method="post" novalidate>

        <!-- generates a hidden field that includes a token that is used to protect the form against CSRF attacks. Also have the SECRET_KEY value defined and wtf does the rest -->
        {{form.hidden_tag()}}


        <!-- The fields from the form object know how to render themselves as HTML. All I needed to do was to include  form.<field_name>.label  where I wanted the field label, and  form.<field_name>()  where I wanted the field. form is also the argument passed from the route.py-->

        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }} <br>
            <!-- adding error messages -->
            {% for error in form.username.errors %}
            <span style="color:red;"> {{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }} <br>
            <!-- adding error messages -->
            {% for error in form.password.errors %}
            <span style="color:red;"> {{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }}  {{form.remember_me.label }}</p>
        <p> {{ form.submit() }}</p>

    </form>

    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>

{% endblock %}